<div class="container" ng-init="getDepartureStations()" id="input">
  <div class="input-image-wrapper"></div>

  <div class="form-wrapper">
    <div class="row">
        <div class="col-sm-12">
            <h1> Let's find your journey</h1>
        </div>
    </div>

    <form class="form-horizontal">
        <fieldset>
          <div class="form-group">
              <label class="col-md-4 control-label" for="from-station">Station From</label>
              <div class="col-md-4">
                  <select name="departure-station" class="form-control" id="from-station" ng-options="departure.name for departure in departureStations" ng-model="selectedDeparture" ng-change="getArrivalStations()"></select>
              </div>
          </div>

          <div class="form-group">
              <label class="col-md-4 control-label" for="to-station">Station To</label>
              <div class="col-md-4">
                  <select name="arrival-station" id="to-station" class="form-control" ng-options="arrival.name for arrival in arrivalStations" ng-model="selectedArrival" ng-change="getTimes()"></select>
              </div>
          </div>

          <div class="form-group">
              <label class="col-md-4 control-label" for="depart-time">Departure Time</label>
              <div class="col-md-4">
                  <select name="time" id="depart-time" class="form-control" ng-options="(time.departure_time | date: 'shortTime': 'UTC' ) for time in times" ng-model="selectedTime"></select>
              </div>
          </div>

          <div class="form-group">
              <label class="col-md-12 control-label" for="btnCal"></label>
              <div class="col-md-12">
                  <button name="btnCal" class="submit" id="btnCal" onclick=hideJourneyInput() role="button">GO!</button>
              </div>
          </div>

        </fieldset>
    </form>
  </div>
</div>


<div class="container" id="survey">
  <div class="survey-image-wrapper"></div>

  <div class="survey-wrapper">
      <div class="container-fluid">
        <form class="question-group">
            <div class="row">
                <div class="col-sm-12">
                    <h1>How happy are you?</h1>
                </div>
                <div class="col-sm-4">
                    <input type="radio" name="happiness" ng-model="results.happiness" value="unhappy">
                      <div class="choice-wrapper">
                        Unhappy
                      </div>
                    </input>
                </div>
                <div class="col-sm-4">
                  <input type="radio" name="happiness" ng-model="results.happiness" value="neutral">
                    <div class="choice-wrapper">
                      Neutral
                    </div>
                  </input>
                </div>
                <div class="col-sm-4">
                  <input type="radio" name="happiness" ng-model="results.happiness" value="happy">
                    <div class="choice-wrapper">
                      Happy
                    </div>
                  </input>
                </div>
                <!-- <div class="col-sm-12"><h1>selected: {{ results.happiness }}</h1></div> -->
            </div>
        </form>
          <!-- <div class="question-group">
              <div class="row">
                  <div class="col-sm-12">
                      <h1>Where are you on the train?</h1>
                  </div>
                  <div class="col-sm-4">
                    <input type="radio" name="location" value="front">
                      <div class="choice-wrapper">
                          Front
                      </div>
                    </input>
                  </div>
                  <div class="col-sm-4">
                    <input type="radio" name="location" value="middle">
                      <div class="choice-wrapper">
                          Middle
                      </div>
                    </input>
                  </div>
                  <div class="col-sm-4">
                    <input type="radio" name="location" value="middle">
                      <div class="choice-wrapper">
                          Back
                      </div>
                    </input>
                  </div>
              </div>
          </div> -->
          <div class="question-group">
              <div class="row">
                  <div class="col-sm-12">
                      <h1>Which of the following are NOT available?</h1>
                  </div>
                  <label class="col-sm-3"ng-repeat="fault in faults">
                      <input type="checkbox" checklist-model="results.faults" checklist-value="fault">
                        <div class="choice-wrapper">
                            {{fault}}
                        </div>
                      </input>
                  </label>
                  <!-- <div class="col-sm-3">
                    <input type="checkbox" name="faults" ng-model="results.faults" value="toilets">
                      <div class="choice-wrapper">
                          Toilets
                      </div>
                    </input>
                  </div>
                  <div class="col-sm-3">
                    <input type="checkbox" name="faults" ng-model="results.faults" value="power">
                      <div class="choice-wrapper">
                          Power Socket
                      </div>
                    </input>
                  </div>
                  <div class="col-sm-3">
                    <input type="checkbox" name="faults" ng-model="results.faults" value="luggage">
                      <div class="choice-wrapper">
                          Luggage Space
                      </div>
                    </input>
                  </div>
                  <div class="col-sm-3">
                    <input type="checkbox" name="faults" ng-model="results.faults" value="bike">
                      <div class="choice-wrapper">
                          Bike Space
                      </div>
                    </input>
                  </div>
                  <div class="col-sm-3">
                    <input type="checkbox" name="faults" ng-model="results.faults" value="disabled">
                      <div class="choice-wrapper">
                          Disabled Access
                      </div>
                    </input>
                  </div>
                  <div class="col-sm-3">
                    <input type="checkbox" name="faults" ng-model="results.faults" value="refreshments">
                      <div class="choice-wrapper">
                          Refreshments
                      </div>
                    </input>
                  </div>
                  <div class="col-sm-3">
                    <input type="checkbox" name="location" ng-model="results.faults" value="wifi">
                      <div class="choice-wrapper">
                          WiFi
                      </div>
                    </input>
                  </div>
                  <div class="col-sm-3">
                    <input type="checkbox" name="location" ng-model="results.faults" value="rolls">
                      <div class="choice-wrapper">
                          Sausage Rolls
                      </div>
                    </input>
                  </div> -->
              </div>
          </div>
          <div class="question-group">
              <div class="row">
                  <div class="col-sm-12">
                      <h1>Are there any free seats?</h1>
                  </div>
                  <div class="col-sm-4">
                    <input type="radio" name="seats" ng-model="results.seats" value="plenty">
                      <div class="choice-wrapper">
                          Plenty
                      </div>
                    </input>
                  </div>
                  <div class="col-sm-4">
                    <input type="radio" name="seats" ng-model="results.seats" value="few">
                      <div class="choice-wrapper">
                          A Few
                      </div>
                    </input>
                  </div>
                  <div class="col-sm-4">
                    <input type="radio" name="seats" ng-model="results.seats" value="none">
                      <div class="choice-wrapper">
                          None
                      </div>
                    </input>
                  </div>
                  <!-- <div class="col-sm-12"><h1>selected: {{ results.seats }}</h1></div> -->
              </div>
          </div>
          <div class="question-group">
              <div class="row">
                  <div class="col-sm-12">
                      <h1>How does the train feel?</h1>
                  </div>
                  <div class="col-sm-4">
                    <input type="radio" class="surveyButton" name="temperature" ng-model="results.temperature" value="freezing">
                      <div class="selection-box">
                          Freezing!
                      </div>
                    </input>
                  </div>
                  <div class="col-sm-4">
                    <input type="radio" class="surveyButton" name="temperature" ng-model="results.temperature" value="neutral">
                      <div class="selection-box">
                          Neutral
                      </div>
                    </input>
                  </div>
                  <div class="col-sm-4">
                    <input type="radio" class="surveyButton" name="temperature" ng-model="results.temperature" value="hot">
                      <div class="selection-box">
                          Too HOT!
                      </div>
                    </input>
                  </div>
                  <!-- <div class="col-sm-12"><h1>selected: {{ results.temperature }}</h1></div> -->
              </div>
          </div>
      </div>
      <div class="submit-container">
          <button class="submit" ng-click="collectResults()" onclick="hideSurvey()">Share</button>
      </div>
  </div>
</div>

<div class="container" id="result">
  <div class="survey-image-wrapper"></div>

  <div class="survey-wrapper">
      <div class="container-fluid">
      </div>
  </div>
  <div class="container-fluid">

      <!-- Meta information -->
      <div class="row" id="summary-meta">
          <div class="col-sm-12">
              <h1>{{ selectedArrival.name }} Station</h1>
              <h2>Service Status - Last updated <span>12:31</span> by <span>Struboooo</span></h2>
          </div>
      </div>

      <!-- Results -->
      <div class="row" id="summary-info">
          <div class="col-sm-3">
              <div class="status-wrapper status-available">
                  <span>Taxis</span>
              </div>
          </div>
          <div class="col-sm-3">
              <div class="status-wrapper status-available">
                  Toilets
              </div>
          </div>
          <div class="col-sm-3">
              <div class="status-wrapper status-limited">
                  ATM
              </div>
          </div>
          <div class="col-sm-3">
              <div class="status-wrapper status-unavailable">
                  Coffee Shops
              </div>
          </div>
          <div class="col-sm-3" style="margin-left: 25%;">
              <div class="status-wrapper status-unavailable">
                  Waiting Room
              </div>
          </div>
          <div class="col-sm-3">
              <div class="status-wrapper status-limited">
                  Ticket Barriers
              </div>
          </div>

      </div>

      <!-- Return -->
      <div class="row" id="summary-return">
          <div class="col-sm-12">
              <div class="submit-container">
                  <button class="submit">Return</button>
              </div>
          </div>
      </div>
  </div>
</div>


<script>
  function hideJourneyInput() {
    let input = document.getElementById('input');
    input.style.display = 'none';

    let survey = document.getElementById('survey');
    survey.style.display = 'block';
  }

  function hideSurvey() {
    let survey = document.getElementById('survey');
    survey.style.display = 'none';

    let result = document.getElementById('result');
    result.style.display = 'block';
  }
</script>
