<div class="container" ng-init="getDepartureStations()" id="input">
  <div class="input-image-wrapper"></div>

  <div class="form-wrapper">
    <div class="row">
        <div class="col-sm-12">
            <h1> Platform details</h1>
        </div>
    </div>
  </div>
</div>

<!-- Survey Goes Here -->
<div class="container" id="survey">
  <div class="survey-image-wrapper"></div>

  <div class="survey-wrapper">
      <div class="container-fluid">
          <div class="question-group">
              <div class="row">
                  <div class="col-sm-12">
                      <h1>Platform happiness:</h1>
                  </div>
                  <div class="col-sm-4">
                      <div class="choice-wrapper">
                          [Placeholder]
                      </div>
                  </div>
              </div>
          </div>
          <div class="question-group">
              <div class="row">
                  <div class="col-sm-12">
                      <h1>Platform Busy-ness:</h1>
                  </div>
                  <div class="col-sm-4">
                      <div class="choice-wrapper">
                          [Placeholder]
                      </div>
                  </div>
              </div>
          </div>
          <div class="question-group">
              <div class="row">
                  <div class="col-sm-12">
                      <h1>Taxis Availability</h1>
                  </div>
                  <div class="col-sm-4">
                      <div class="choice-wrapper">
                          [Placeholder]
                      </div>
                  </div>
              </div>
          </div>
          <div class="question-group">
              <div class="row">
                  <div class="col-sm-12">
                      <h1>ATMS Availability</h1>
                  </div>
                  <div class="col-sm-4">
                      <div class="choice-wrapper">
                          [Placeholder]
                      </div>
                  </div>
              </div>
          </div>
          <div class="question-group">
              <div class="row">
                  <div class="col-sm-12">
                      <h1>Toilets Availability</h1>
                  </div>
                  <div class="col-sm-4">
                      <div class="choice-wrapper">
                          [Placeholder]
                      </div>
                  </div>
              </div>
          </div>
          <div class="question-group">
              <div class="row">
                  <div class="col-sm-12">
                      <h1>Platform dirtyness</h1>
                  </div>
                  <div class="col-sm-4">
                      <div class="choice-wrapper">
                          [Placeholder]
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="submit-container">
          <button class="submit">Share
          </button>
      </div>
  </div>
</div>
<!-- Survey ends -->
