<div class="container" ng-init="getDepartureStations()" id="input">
  <div class="input-image-wrapper"></div>

  <div class="form-wrapper">
    <div class="row">
        <div class="col-sm-12">
            <h1> Train details</h1>
        </div>
    </div>
  </div>
</div>

<!-- Survey Goes Here -->
<div class="container" id="survey">
  <div class="survey-image-wrapper"></div>

  <div class="survey-wrapper">
      <div class="container-fluid">
          <div class="question-group">
              <div class="row">
                  <div class="col-sm-12">
                      <h1>Train happiness:</h1>
                  </div>
                  <div class="col-sm-4">
                      <div class="choice-wrapper">
                          [Placeholder]
                      </div>
                  </div>
              </div>
          </div>
          <div class="question-group">
              <div class="row">
                  <div class="col-sm-12">
                      <h1>Train Busy-ness:</h1>
                  </div>
                  <div class="col-sm-4">
                      <div class="choice-wrapper">
                          Front : [Placeholder]
                      </div>
                  </div>
                  <div class="col-sm-4">
                      <div class="choice-wrapper">
                          Middle : [Placeholder]
                      </div>
                  </div>
                  <div class="col-sm-4">
                      <div class="choice-wrapper">
                          Back : [Placeholder]
                      </div>
                  </div>
              </div>
          </div>
          <div class="question-group">
              <div class="row">
                  <div class="col-sm-12">
                      <h1>Issues</h1>
                  </div>
                  <div class="col-sm-4">
                      <div class="choice-wrapper">
                          Front: [Placeholder]
                      </div>
                  </div>
                  <div class="col-sm-4">
                      <div class="choice-wrapper">
                          Middle : [Placeholder]
                      </div>
                  </div>
                  <div class="col-sm-4">
                      <div class="choice-wrapper">
                          Back : [Placeholder]
                      </div>
                  </div>
              </div>
          </div>
          <div class="question-group">
              <div class="row">
                  <div class="col-sm-12">
                      <h1>Carriage Temperature:</h1>
                  </div>
                  <div class="col-sm-4">
                      <div class="choice-wrapper">
                          Front: [Placeholder]
                      </div>
                  </div>
                  <div class="col-sm-4">
                      <div class="choice-wrapper">
                          Middle : [Placeholder]
                      </div>
                  </div>
                  <div class="col-sm-4">
                      <div class="choice-wrapper">
                          Back : [Placeholder]
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="submit-container">
          <button class="submit">Share
          </button>
      </div>
  </div>
</div>
<!-- Survey ends -->
