@import url('https://fonts.googleapis.com/css?family=Montserrat');

body{
    background-color: black;
}

.container{
    background-color: white;
    padding-bottom: 10px;
}

#survey {
  display: none;
}

.survey-image-wrapper{
    height: 600px;
    width: 100%;
    background: url(../img/Background.jpg);
    background-size: 100% 100%;
}

.survey-wrapper {
  border: 1px solid black;
  border-top: 0;
  padding-bottom: 20px;
}
.question-group{
    margin-top: 10px;
}

h1 {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.choice-wrapper{
    background-color: #eeeeee;
    border: 1px solid #777777;
    padding: 30px 20px;
    color: black;
    text-align: center;
    font-size: 30px;
    min-height: 50px;
}

.col-sm-3, .col-sm-4 {
    padding: 0;
}

.submit-container{
    width: 100%;
}

.submit{
    width: 800px;
    height: 100px;
    background-color: darkcyan;
    color: white;
    font-size: 40px;
    border: none;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    margin-top: 20px;
    display: block;
    border-radius: 10px;
}

.submit:hover{
    background-color: #00d4d4;
    cursor: pointer;
}

.surveyButton {
  visibility: hidden;
  position: relative;
  /*text-align: center;*/
}

.selection-box {
  /*background-color: #4286f4;*/
  /*border: 1px solid #777777;*/
  padding: 30px 20px;
  color: black;
  text-align: center;
  font-size: 30px;
  min-height: 50px;
}

.selection-img {
  width: 100px;
  height: 100px;
  /*text-align: center;*/
  display: block;
  margin: auto;
  padding: 5px;
}

.surveyButton + .selection-img {
  cursor:pointer;
  border:1px solid transparent;
}

.surveyButton:checked + .selection-img {
  border:2px solid #4286f4 !important;
  border-radius: 5px;
  display: block;
}
