@import url('https://fonts.googleapis.com/css?family=Montserrat');

body{
    background-color: black;
}

.container{
    background-color: white;
    padding-bottom: 10px;
}

#survey {
  display: none;
}

.survey-image-wrapper{
    height: 600px;
    width: 100%;
    background: url(../img/Background.jpg);
    background-size: 100% 100%;
}

.question-group{
    margin-top: 10px;
}

h1 {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.choice-wrapper{
    background-color: #eeeeee;
    border: 1px solid #777777;
    padding: 30px 20px;
    color: black;
    text-align: center;
    font-size: 30px;
    min-height: 50px;
}

.col-sm-3, .col-sm-4 {
    padding: 0;
}

.submit-container{
    width: 100%;
}

.submit{
    width: 800px;
    height: 100px;
    background-color: darkcyan;
    color: white;
    font-size: 40px;
    border: none;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    margin-top: 10px;
    display: block;
}

.submit:hover{
    background-color: #00d4d4;
    cursor: pointer;
}
